.App {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.card {
  width: 500px;
  height: 240px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 10px;
}

#modify {
  width: 100px;
  height: 20px;
}

.hidden {
  display: none;
}

input:hover:disabled {
  pointer-events: auto! important;
  cursor: not-allowed! important;
}

.create-operation-title {
  margin-top: 20px;
} 

.input-table {
  border: none;
  text-align:center
}

input:disabled {
  background:white;
  color: black;
}

.center {
  text-align: center; 
}

.pagination-sticky {
  position: fixed;
  bottom: 0;
  left: 50%;
  right: 50%
}

.negative-balance {
  color: red;
}

.positive-balance {
  color: green;
}

.operations-title {
  margin: 20px;
}